header {
  width: 720px;
  height: 300px;
  margin: 0 0 27px;
  padding: 88.5px 316.5px 108px 109.5px;
  background-image: linear-gradient(to left, rgba(135, 40, 40, 0), #000000 35%);
  background-image:url("./assets/main-banner.png");
}

.Need-a-dog-sitter{
	width: 201px;
	height: 28px;
	margin: 0 93px 5px 0;
	font-family: Quicksand;
	font-size: 22.5px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
  }

  .Find-a-trusted-sitte {
	width: 292px;
	height: 34px;
	margin: 5px 0 12.5px 2px;
	font-family: Quicksand;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.42;
	letter-spacing: normal;
	color: #ffffff;
  }

  .topButton {
	height: 48px;
	border-radius: 4px;
	background-color: #de6c17;
  }

  #Learn-More-Copy-3 {
	width: 50px;
	height: 11.5px;
	font-family: Quicksand;
	font-size: 9px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
  }

  body {
	font-family: 'Quicksand', sans-serif;
  }